.wrapper {
    width: 1920px;
    margin: auto;
    background-color: black;
}
.header {
    display: flex;
    width: 1460px;
    height: 100px;
    justify-content: space-between;
    margin: auto;
}
.logo-main {
    width: 216px;
    height: 33px;
    margin-top: 46px;
}
.back-call {
    display: block;
    width: 218px;
    height: 30px;
    border: 1px solid orange;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 5px;
}
.phone {
    width: 12,96px;
    height: 12,96px;
}
.back-call-text {
    color: orange;
}
.first {
        width: 1460px;  
        margin: auto;
}
.title-first {
    color: white;
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 70px;
    margin-bottom: 40px;
}
.text-first {
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 40px;
}
.grid-first {
    display: grid;
    height: 961px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 468px 468px;
    grid-template-areas: 
    "item-1" "item-2" "item-3"
    "item-4" "item-5";
    column-gap: 30px;
    row-gap: 27px;
}
.item-1 {
    grid-column: 1 / 3;
    color: white;
    background-color: #634F2C;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    padding-top: 219.5px;
    padding-bottom: 219.5px;
}
.item-2 {
    grid-column: 3 / 5;
    color: white;
    background-color: #B4A385;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    padding-top: 219.5px;
    padding-bottom: 219.5px;
}
.item-3 {
    grid-column: 5 / 7;
    color: white;
    background-color: #E4B564;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    padding-top: 219.5px;
    padding-bottom: 219.5px;
}
.item-4 {
    grid-column: 1 / 4;
    color: white;
    background-color:#635A4A;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    padding-top: 219.5px;
    padding-bottom: 219.5px;
}
.item-5 {
    grid-column: 4 / 7;
    color: white;
    background-color:#B08C4D;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    padding-top: 219.5px;
    padding-bottom: 219.5px;
}
.second {
    width: 1460px;  
     margin: auto;
     margin-bottom: 50px;
}
.title-second {
    color: white;
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 100px;
    margin-bottom: 70px;
}
.grid-second {
    display: grid;
    height: 897px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(15, 60px);
    column-gap: 30px;
    row-gap: 25px;
    margin-bottom: 400px;
}
.item-2-1 {
    grid-area: 1 / 1 / 7 / 2;
    color: white;
    background-color: #0e0e0e;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    padding-top: 44px;
    padding-left: 52px;
}
.item-2-2 {
    grid-area: 1 / 2 / 9 / 3;
    color: white;
    background-color: #242424;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    padding-top: 44px;
    padding-left: 51px;
}
.item-2-3 {
    grid-area: 1 / 3 / 5 / 4;
    color: white;
    background-color: #1f1f1f;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    padding-top: 44px;
    padding-left: 48px;
}
.item-2-4 {
    grid-area: 7 / 1 / 16 / 2;
    color: white;
    background-color: #1f1f1f;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    padding-top: 56px;
    padding-left: 54px;
}
.item-2-5 {
    grid-area: 9 / 2 / 16 / 3;
    color: white;
    background-color: #E4B564;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    padding-top: 47px;
    padding-left: 52px;
}
.item-2-6 {
    grid-area: 5 / 3 / 11 / 4;
    color: white;
    background-color: #0e0e0e;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    padding-top: 48px;
    padding-left: 44px;
}
.item-2-7 {
    grid-area: 11 / 3 / 16 / 4;
    color: white;
    background-color: #0e0e0e;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    padding-top: 48px;
    padding-left: 44px;
}
.third {
    width: 1460px;  
    height: 1054px;
    margin: auto;
    padding-top: 100px;
}
.projects {
    display: flex;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 90px;
    justify-content: space-between;
}
.title-third {
    color: white;
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
}
.all-projects {
    width: 180px;
    text-decoration: none;
    color: #E4B564;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    border: 2px solid #E4B564;
    line-height: 45px;
    text-align: center;
}
.third-logos {
    display: grid;
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: repeat(2,391px);
    text-align: center; 
    margin-bottom: 100px;   
}
.logo-1 {
    background-color: #634F2C;
    padding-top: 165px;
}
.logo-2 {
    background-color:#E8D2ABC2;
    padding-top: 60px;
}
.logo-2-2 {
    padding-bottom: 20px;
}
.logo-text {
    color: white;
}
.logo-3 {
    background-color: #E4B564;
    padding-top: 170px;
}
.logo-4 {
    background-color: #E4B564;
    padding-top: 170px;
}
.logo-5 {
    background-color: #B08C4D;
    padding-top: 60px;
}
.logo-6 {
    background-color: #634F2C;
    padding-top: 165px;
}
